nav.navigation

  .navigation__link.link__left
    a.navigation__link__href(href=Link(navigation.linkLeft) data-path=navigation.linkLeft._type)
      p.navigation__link__href__text=navigation.linkLeft.title
    .navigation__link__active

  .navigation__contact.contact__left
    .navigation__contact__street
      p.navigation__contact__street__text=navigation.contact.street
    .navigation__contact__city
      p.navigation__contact__city__text=navigation.contact.city

  .navigation__logo
    a.navigation__logo__link(href=Link('/'))
      svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 368.9 125.9' style='enable-background:new 0 0 368.9 125.9;' xml:space='preserve' preserveaspectratio='xMidYMid meet')
        style(type='text/css').
          .st0{fill:#252422;}
        g
          g
            path.st0(d='M8.3,17.5c0,4.9,3.4,8.5,10.4,11.8c5.5,2.6,10.5,4.7,14.4,7.6c5.1,3.9,7.6,9.3,7.6,16			c0,10.7-7.4,17.9-19.1,17.9h-4.7C6.5,70.8,0,64.7,0,61.4c0-0.4,0.2-0.7,0.7-0.9l4.6-2.4C5.4,58,5.7,58,5.8,58			c0.4,0,0.5,0.2,0.9,0.5c3,3.2,5.2,6.1,10.2,6.1h4.7c6.5,0,11.8-5,11.8-11.7c0-7.3-5.6-10.1-14.8-14.6C7.3,32.9,0.9,29,0.9,17.9			C0.9,7.2,8.3,0,19.8,0h1.7c10.2,0,17,6.1,17,9.6c0,0.3-0.3,0.5-0.8,0.8l-4.6,2.3c-0.2,0.1-0.4,0.1-0.5,0.1c-0.3,0-0.5-0.1-0.8-0.4			c-3.1-3.2-5.3-6-10.4-6h-1.7C13.4,6.3,8.3,11.2,8.3,17.5z')
            path.st0(d='M83.4,7.4H70.2c-0.8,0-1.1,0.3-1.1,1.1v60.2c0,0.8-0.3,1.1-1.1,1.1h-5.1c-0.8,0-1.1-0.3-1.1-1.1V8.5			c0-0.8-0.3-1.1-1.1-1.1H47.5c-0.8,0-1.1-0.3-1.1-1.1v-4c0-0.8,0.3-1.1,1.1-1.1h35.9c0.8,0,1.1,0.3,1.1,1.1v4			C84.5,7.1,84.2,7.4,83.4,7.4z')
            path.st0(d='M117.6,70.8h-3.4c-11.6,0-19-7.2-19-17.9V2.3c0-0.8,0.3-1.1,1.1-1.1h5.2c0.8,0,1.1,0.3,1.1,1.1V53			c0,6.5,5.1,11.7,11.6,11.7h3.4c6.3,0,11.7-5.2,11.7-11.7V2.3c0-0.8,0.3-1.1,1.1-1.1h5.2c0.8,0,1.1,0.3,1.1,1.1V53			C136.7,63.7,129.2,70.8,117.6,70.8z')
            path.st0(d='M175.9,69.8h-21.1c-0.8,0-1.1-0.3-1.1-1.1V2.3c0-0.8,0.3-1.1,1.1-1.1h21.1c11.7,0,19.1,7.4,19.1,18.9v30.6			C195,62.3,187.6,69.8,175.9,69.8z M187.7,19c0-6.4-5.2-11.6-11.8-11.6h-13.8c-0.8,0-1.1,0.3-1.1,1.1v54c0,0.8,0.3,1.1,1.1,1.1			h13.8c6.6,0,11.8-5.1,11.8-11.7V19z')
            path.st0(d='M218.7,69.8h-5.1c-0.8,0-1.1-0.3-1.1-1.1V2.3c0-0.8,0.3-1.1,1.1-1.1h5.1c0.8,0,1.1,0.3,1.1,1.1v66.4			C219.8,69.4,219.5,69.8,218.7,69.8z')
            path.st0(d='M259.8,70.8h-3.4c-11.6,0-19-7.2-19-17.9V17.9c0-10.7,7.4-17.9,19-17.9h3.4c11.6,0,19.1,7.3,19.1,17.9V53			C278.9,63.7,271.4,70.8,259.8,70.8z M271.5,17.9c0-6.4-5.1-11.6-11.7-11.6h-3.4c-6.5,0-11.6,5-11.6,11.6V53			c0,6.5,5.1,11.7,11.6,11.7h3.4c6.3,0,11.7-5.2,11.7-11.7V17.9z')
            path.st0(d='M303.8,1.3h14L336.5,53l19.2-51.7h13.2l-27.7,68.5h-10.5L303.8,1.3z')
            path.st0(d='M20.9,125.2c0,0.2-0.1,0.3-0.4,0.3h-3.7c-0.2,0-0.3-0.1-0.4-0.3l-1.1-3.9c0-0.2-0.1-0.2-0.4-0.2H9.6		c-0.2,0-0.3,0-0.4,0.2l-1.1,3.9c0,0.2-0.2,0.3-0.4,0.3H4.1c-0.3,0-0.4-0.1-0.4-0.3c0,0,0-0.1,0-0.1l6.9-22.5		c0.1-0.2,0.1-0.3,0.4-0.3h2.7c0.2,0,0.3,0.1,0.4,0.3l6.9,22.5C20.8,125.1,20.9,125.2,20.9,125.2z M12.7,111.9c0-0.2-0.2-0.9-0.4-2		h-0.1c-0.3,1.1-0.4,1.8-0.4,2l-1.3,4.9c0,0,0,0.1,0,0.1c0,0.2,0.1,0.3,0.4,0.3h2.7c0.3,0,0.4-0.1,0.4-0.3c0,0,0-0.1,0-0.1		L12.7,111.9z')
            path.st0(d='M52.8,125.2c0,0.2-0.1,0.3-0.4,0.3h-3.8c-0.1,0-0.2-0.1-0.3-0.3l-3.2-9.4l-0.3-0.2h-3.3		c-0.3,0-0.4,0.1-0.4,0.4v9.1c0,0.3-0.1,0.4-0.4,0.4h-3.5c-0.3,0-0.4-0.1-0.4-0.4v-22.5c0-0.3,0.1-0.4,0.4-0.4h8.3		c4.2,0,6.9,2.7,6.9,6.9v0.4c0,1.7-0.9,3.1-1.6,4c-0.7,0.6-1.5,1.1-1.5,1.4v0l3.5,10.2C52.8,125.1,52.8,125.2,52.8,125.2z		 M48.2,108.8c0-1.4-1.2-2.7-2.7-2.7h-4.1c-0.3,0-0.4,0.1-0.4,0.4v4.9c0,0.3,0.1,0.4,0.4,0.4h4.1c1.4,0,2.7-1.2,2.7-2.7V108.8z')
            path.st0(d='M85.5,121.5c0,0.4-0.5,1.4-1.8,2.7c-1.1,1.1-2.7,1.7-4.8,1.7h-1.8c-4.2,0-6.9-2.6-6.9-6.5v-10.9		c0-3.9,2.7-6.5,6.9-6.5H79c1.7,0,3,0.4,4.2,1.2c1.5,1.1,2.4,2.7,2.4,3.1c0,0.1-0.1,0.2-0.2,0.3l-3.2,1.6c-0.1,0-0.1,0-0.2,0		c-0.2,0-0.3-0.2-0.5-0.6c-0.6-1.1-1.3-1.8-2.4-1.8h-1.8c-1.5,0-2.7,1.2-2.7,2.7v10.9c0,1.5,1.2,2.7,2.7,2.7H79		c1.1,0,1.7-0.6,2.4-1.8c0.2-0.4,0.4-0.7,0.6-0.7c0.1,0,0.1,0,0.2,0l3.2,1.6C85.5,121.2,85.5,121.3,85.5,121.5z')
            path.st0(d='M118.2,125.5h-3.5c-0.3,0-0.4-0.1-0.4-0.4V116c0-0.3-0.1-0.4-0.4-0.4h-6.9c-0.3,0-0.4,0.1-0.4,0.4v9.1		c0,0.3-0.1,0.4-0.4,0.4h-3.5c-0.3,0-0.4-0.1-0.4-0.4v-22.5c0-0.3,0.1-0.4,0.4-0.4h3.5c0.2,0,0.4,0.1,0.4,0.4v8.8		c0,0.3,0.1,0.4,0.4,0.4h6.9c0.3,0,0.4-0.1,0.4-0.4v-8.8c0-0.3,0.1-0.4,0.4-0.4h3.5c0.3,0,0.4,0.1,0.4,0.4v22.5		C118.6,125.4,118.5,125.5,118.2,125.5z')
            path.st0(d='M140.9,125.5h-3.5c-0.3,0-0.4-0.1-0.4-0.4v-22.5c0-0.3,0.1-0.4,0.4-0.4h3.5c0.2,0,0.4,0.1,0.4,0.4v22.5		C141.2,125.4,141.1,125.5,140.9,125.5z')
            path.st0(d='M171.3,106.1h-4c-0.3,0-0.4,0.1-0.4,0.4v18.6c0,0.3-0.1,0.4-0.4,0.4H163c-0.3,0-0.4-0.1-0.4-0.4v-18.6		c0-0.3-0.1-0.4-0.4-0.4h-4c-0.3,0-0.4-0.1-0.4-0.4v-3.1c0-0.3,0.1-0.4,0.4-0.4h13c0.2,0,0.4,0.1,0.4,0.4v3.1		C171.6,106,171.5,106.1,171.3,106.1z')
            path.st0(d='M201.9,125.5h-13c-0.3,0-0.4-0.1-0.4-0.4v-22.5c0-0.3,0.1-0.4,0.4-0.4h13c0.2,0,0.4,0.1,0.4,0.4v3.1		c0,0.3-0.1,0.4-0.4,0.4h-8.8c-0.3,0-0.4,0.1-0.4,0.4v4.9c0,0.3,0.1,0.4,0.4,0.4h7.2c0.3,0,0.4,0.1,0.4,0.4v3.1		c0,0.3-0.1,0.4-0.4,0.4h-7.2c-0.3,0-0.4,0.1-0.4,0.4v5.2c0,0.3,0.1,0.4,0.4,0.4h8.8c0.2,0,0.4,0.1,0.4,0.4v3.1		C202.3,125.4,202.1,125.5,201.9,125.5z')
            path.st0(d='M234.7,121.5c0,0.4-0.5,1.4-1.8,2.7c-1.1,1.1-2.7,1.7-4.8,1.7h-1.8c-4.2,0-6.9-2.6-6.9-6.5v-10.9		c0-3.9,2.7-6.5,6.9-6.5h1.8c1.7,0,3,0.4,4.2,1.2c1.5,1.1,2.4,2.7,2.4,3.1c0,0.1-0.1,0.2-0.2,0.3l-3.2,1.6c-0.1,0-0.1,0-0.2,0		c-0.2,0-0.3-0.2-0.5-0.6c-0.6-1.1-1.3-1.8-2.4-1.8h-1.8c-1.5,0-2.7,1.2-2.7,2.7v10.9c0,1.5,1.2,2.7,2.7,2.7h1.8		c1.1,0,1.7-0.6,2.4-1.8c0.2-0.4,0.4-0.7,0.6-0.7c0.1,0,0.1,0,0.2,0l3.2,1.6C234.6,121.2,234.7,121.3,234.7,121.5z')
            path.st0(d='M263.1,106.1h-4c-0.3,0-0.4,0.1-0.4,0.4v18.6c0,0.3-0.1,0.4-0.4,0.4h-3.5c-0.3,0-0.4-0.1-0.4-0.4v-18.6		c0-0.3-0.1-0.4-0.4-0.4h-4c-0.3,0-0.4-0.1-0.4-0.4v-3.1c0-0.3,0.1-0.4,0.4-0.4h13c0.2,0,0.4,0.1,0.4,0.4v3.1		C263.5,106,263.4,106.1,263.1,106.1z')
            path.st0(d='M288.5,125.9h-1.8c-4.2,0-6.9-2.6-6.9-6.5v-16.7c0-0.3,0.1-0.4,0.4-0.4h3.5c0.2,0,0.4,0.1,0.4,0.4v16.7		c0,1.5,1.2,2.7,2.7,2.7h1.8c1.5,0,2.6-1.1,2.6-2.7v-16.7c0-0.3,0.1-0.4,0.4-0.4h3.5c0.3,0,0.4,0.1,0.4,0.4v16.7		C295.4,123.3,292.6,125.9,288.5,125.9z')
            path.st0(d='M328.8,125.2c0,0.2-0.1,0.3-0.4,0.3h-3.8c-0.1,0-0.2-0.1-0.3-0.3l-3.3-9.4l-0.3-0.2h-3.3		c-0.3,0-0.4,0.1-0.4,0.4v9.1c0,0.3-0.1,0.4-0.4,0.4h-3.5c-0.3,0-0.4-0.1-0.4-0.4v-22.5c0-0.3,0.1-0.4,0.4-0.4h8.3		c4.2,0,6.9,2.7,6.9,6.9v0.4c0,1.7-0.9,3.1-1.6,4c-0.7,0.6-1.5,1.1-1.5,1.4v0l3.5,10.2C328.8,125.1,328.8,125.2,328.8,125.2z		 M324.2,108.8c0-1.4-1.2-2.7-2.7-2.7h-4.1c-0.3,0-0.4,0.1-0.4,0.4v4.9c0,0.3,0.1,0.4,0.4,0.4h4.1c1.4,0,2.7-1.2,2.7-2.7V108.8z')
            path.st0(d='M358.8,125.5h-13c-0.3,0-0.4-0.1-0.4-0.4v-22.5c0-0.3,0.1-0.4,0.4-0.4h13c0.2,0,0.4,0.1,0.4,0.4v3.1		c0,0.3-0.1,0.4-0.4,0.4H350c-0.3,0-0.4,0.1-0.4,0.4v4.9c0,0.3,0.1,0.4,0.4,0.4h7.2c0.3,0,0.4,0.1,0.4,0.4v3.1		c0,0.3-0.1,0.4-0.4,0.4H350c-0.3,0-0.4,0.1-0.4,0.4v5.2c0,0.3,0.1,0.4,0.4,0.4h8.8c0.2,0,0.4,0.1,0.4,0.4v3.1		C359.2,125.4,359.1,125.5,358.8,125.5z')

  .navigation__contact.contact__right
    .navigation__contact__phone
      p.navigation__contact__phone__text=navigation.contact.phone
    .navigation__contact__email.outside__link
      a.navigation__contact__email__link.hidden(href=`mailto:${ navigation.contact.email }`)
        p.navigation__contact__email__text=navigation.contact.email
      .navigation__contact__email__active

  .navigation__link.link__right
    a.navigation__link__href(href=Link(navigation.linkRight) data-path=navigation.linkRight._type)
      p.navigation__link__href__text=navigation.linkRight.title
    .navigation__link__active