extends ../base.pug

block variables
  - var template = 'home'

block content
  section.home
    .home__title
      h1.home__title__text=home.title

    .home__showcase
      each el in home.showcase
        .home__showcase__element(data-active=false data-hovered=false data-leave=false)
          .home__showcase__element__media
            figure.home__showcase__element__media__figure
              img.home__showcase__element__media__figure__image(data-src=Build.image(el.image.asset._ref).url() alt=el.image.alt data-displacement="/images/displacement.jpeg")


    article.home__selected
      each el in home.showcase
        .home__selected__element
          .home__selected__image
          .home__selected__title
            h2.home__selected__title__text!=el.title.replace(/\n/g, '<br>')
          .home__selected__smImage
            figure.home__selected__smImage__figure
              img.home__selected__smImage__figure__image(data-src=Build.image(el.smImage.asset._ref).url() alt=el.smImage.alt)
          .home__selected__name
            p.home__selected__name__text=el.name
          .home__selected__article
            p.home__selected__article__text!=el.description.replace(/\n/g, '<br>')
          .home__selected__link.outside__link
            if el.linkText
              p.home__selected__link__text!=el.linkText.replace(/\n/g, '<br>')
              a.home__selected__link__url(href=el.link)

      .home__selected__back(data-active=false)
        p.home__selected__back__text Back

